header {
  border: 1px solid black;
  margin: 30px auto;
  padding: 20px;
  height: 100px;
  width: 80%;
  text-align: center;
}
.underscore {
  margin: 30px auto;
  padding: 20px;
  height: 100px;
  width: 80%;
  text-align: center;
  font-size: 80px;
}
.rightGuess {
  height: 100px;
  width: 80%;
  font-size: 30px;
}
.wrongGuess {
  height: 100px;
  width: 80%;
  font-size: 30px;
}
